main {
   margin: auto 40px;
}

#itemscontainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.item {
   margin: 15px;
}

.itemimg, .addCart {
   display: block;
   margin: auto;
}