main {
   margin: auto 40px;
   background-color: lightgray;
}

#itemscontainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.item {
   margin: 15px;
   flex-basis: 21%;
   background-color: white;
   border-radius: 10px;
}

h2 {
   text-align: center;
}

.itemimg, .addCart {
   display: block;
   margin: auto;
}

.itemimg {
   margin-top: 5px;
}