main {
   margin: auto 100px;
}

.itemTitle {
   text-align: left;
   margin-left: 10px;
}

#empty {
   text-align: center;
}

#continue {
   display: block;
   margin: auto;
}

.cartItem {
   background-color: white;
}

.cartImg {
   margin: 5px;
}

.details {
   float: right;
}