h2 {
   text-align: center;
}

main {
   margin: auto 50px;
}

main h2 {
   text-align: left;
}

#empty {
   text-align: center;
}

#continue {
   display: block;
   margin: auto;
}

.cartItem {
   background-color: white;
}

.cartImg {
   margin: 5px;
}