body {
   margin: 0;
}

header {
   margin: 0;
   background-color: gray;
   padding: 1px;
}

hr {
   margin: 0;
}

#siteTitle {
   text-align: center;
}

nav {
   background-color: gray;
}

nav ul {
   margin: 0;
   padding-left: 0;
   list-style: none;
   display: flex;
   justify-content: center;
}

nav li {
   padding: 10px 0;
}

nav a {
   text-decoration: none;
   padding: 10px;
}

footer {
   background-color: gray;
   padding: 1px;
}
