h2 {
   text-align: center;
}

main {
   display: block;
   margin: 0;
}

#assignments {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 75%;
   margin: auto;
   margin-top: 40px;
   list-style: none;
   padding: 0;
}
#assignments li {
   margin: 5px;
   border: 1px solid grey;
   border-radius: 10px;
   box-shadow: 3px 3px 3px black;
   background-color: darkslategray;
}
#assignments li a {
   display: block;
   padding: 25px;
   font-size: 30px;
   color: darkgoldenrod;
   text-decoration: none;
}


@media screen and (max-width: 350px) {
   #pagename {
      font-size: 1.5em;;
   }
}