.item {
   box-shadow: 2px 2px 2px 2px gray;
}

.item:hover {
   box-shadow: 3px 3px 3px 3px black;
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
   font-weight: bold;
   color: black;
}