body {
   background-color: gray;
}

#pagetitle {
   padding: 10px;
   margin-left: 4vw;
   color: black;
}

hr {
   margin: 0;
}

nav ul {
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: center;
}

nav li {
   padding: 10px 0;
}

nav a {
   text-decoration: none !important;
   padding: 10px;
   color: black;
}

nav a:hover {
   background-color: white;
}

main {
   background-color: lightgray;
}